body {
    background: #181818;
    /*font-family: 'Inter', "Helvetica Neue", sans-serif;*/
    font-family: monospace;
    /*overflow: hidden;*/
    margin: 0;
    color: white;
}

a {text-decoration: none;}

#background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: url('https://s3.us-east-2.amazonaws.com/visualfilterswebsite/uploads/blog/202301/img_63cc3edaa51bf0-14425358-80508511.jpg') no-repeat;
    background-size: 100% 100%;
    z-index: -1;
}

#navbar-container {
    display: flex;
    background: rgba(0, 0, 0, 0.5);

    align-items: center;
    font-size: 1.05vw;
    height: 7vh;
}

#navbar-container a {
    color: white;
    text-align: center;
    user-select: none;
    width: 5.642vw;
    margin-left: 0.7983vw;

    transition: color .3s, transform .3s;
}

#navbar-container a:hover {
    color: #00c0ff;
    transform: translateY(-5px);
}

#navbar-container a:nth-child(6) {
    width: auto;
    pointer-events: none;
}

#navbar-container a:last-child {
    width: 5.642vw;
    margin-left: auto;
    margin-right: 0.7983vw;
}

#contacts-container {
    position: fixed;
    bottom: 0;
    width: 100%;

    display: flex;
    align-items: center;
    height: 7vh;
    margin-bottom: 0.7983vw;
}

#contacts-container a {
    user-select: none;
    margin-left: 1.5965vw; /*30 px*/
}

#contacts-container img {
    width: 1.44vw;

    transition: filter .3s, transform .3s;
}

#contacts-container div {
    display: inline-block;
    background: #131313;
    margin-left: auto;
    margin-right: 1.86vw; /*35px*/
    border-radius: 50%;
    /*padding: 12px;*/
    padding: 0.7vw;
}

#contacts-container div:hover img {
    cursor: pointer;
    filter: invert(52%) sepia(60%) saturate(1789%) hue-rotate(160deg) brightness(104%) contrast(104%);
}

#contacts-container a > img:hover {
    filter: invert(52%) sepia(60%) saturate(1789%) hue-rotate(160deg) brightness(104%) contrast(104%);
    transform: translateY(-5px);
}

.selected {
    color: #00c0ff !important;
}

#home-content-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;

    justify-content: center;
    align-items: center;
    /*gap: 30px;*/
    gap: 1.5vw;
}

#main-content {
    color: white;
}

#main-content h1{
    font-size: 1.9vw;
    margin-bottom: 0.7983vw;
    font-weight: 700;
}

#main-content h1 span {
    color: #906d4a;
}

#main-content p {
    font-size: 1.25vw;
    margin: 0;
    background: rgba(144, 109, 74, 0.4);
}

#mouse-follower .circle {
    position: fixed;
    transform: translate(-50%, -50%);
    pointer-events: none; /* da ne smeta na interakciite so kopchinjata */
    overflow: clip;; /* koga e nadvor od ekranot da ne go pokazhuva scrollbarot */
}

#home-picture {
    width: 20.5vw;
}

.smaller {
    background: #00c0ff;
    height: 7px;
    width: 7px;
    border-radius: 50%;

    transition: width .2s, height .2s, opacity .2s;
}

.larger {
    height: 1.5965vw;
    width: 1.5965vw;
    border: 1px solid #00c0ff;
    border-radius: 50%;

    transition: opacity .2s;
}

.smaller[class~='animate'] {
    width: 3.72vw;
    height: 3.72vw;
    opacity: 0.5;
}

.larger[class~='animate'] {
    opacity: 0;
}

canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

#landing-content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 7%;

    font-family: 'Inconsolata', monospace;
    font-size: 1.9vw; /* 36px */
    font-weight: 300;
    color: white;
}

#landing-content img {
    border-radius: 1.86vw;
    /*mask-image: linear-gradient(to right, #000, rgba(0,0,0,0.2));*/
}

#landing-content p {
    transform: translateX(-30%);
}

#landing-content span {
    color: #929292;
}

#about-me-container {
    display: grid;
    grid-template-columns: 30% auto;
    grid-template-rows: auto auto;
    justify-content: center;
    grid-column-gap: 3.73vw;
    color: white;
    margin-bottom: 2%;
}

#about-me-container > h1 {
    text-align: center;
}

#about-me-text {
    /*width: 30%;*/
    font-size: 0.96vw;
    /*text-align: justify;*/
    font-weight: 200;
    margin: 0;
    background: rgba(40, 40, 40, 0.9);
    border-radius: 20px;
    height: 21.345vw;
    padding: 20px 30px;
}

#skills-container {
    display: grid;
    grid-template-columns: 13.767vw 13.767vw;
    grid-template-rows: 11.793vw 11.793vw;
    gap: 3.789vw;
}

.skill-card {
    box-sizing: border-box;
    width: 100%;
    background: #282828;
    border-radius: 1.067vw;
    padding: 1.067vw 1.5965vw;
}

.skill-card h1 {
    font-size: 0.96vw;
    margin: 0;
}

.skill-card p {
    font-size: 0.747vw;
    font-weight: 200;
    margin: 0.267vw 0;
}

.slider {
    position: relative;
    background: #444444;
    width: 100%;
    height: 0.694vw;
    border-radius: 20px;
    bottom: -30%;
}

.filler {
    background: white;
    border-radius: 20px;
    width: 15%;
    height: 100%;
}

.skill-labels {
    display: flex;
    position: relative;
    bottom: 300%;
    justify-content: space-evenly;
}

.skill-labels p {
    font-size: 0.48vw;
}

#headings h1 {
    font-size: 1.921vw;
    margin-bottom: 0.8vw;
    margin-top: 1.334vw;
    font-weight: 700;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: lightgrey;
    border-radius: 10px;
}

#contacts-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

#contacts-content > h1, #contacts-content > p {text-align: center;}

#contacts-content > p {
    font-size: 2.134vw;
    color: grey;
}

#contacts-content > h1 {
    font-size: 2.935vw;
    margin-bottom: 2.668vw;
}

.contact {
    display: flex;
    align-items: center;
    gap: 0.8vw;
    margin: 2.134vw 0;
}

#contacts-flex {
    display: flex;
    align-items: center;
    margin-left: 17.022vw;
}

.contact p, .contact h1 {
    margin: 0;
}

.contact h1 {
    font-size: 2.134vw;
}

.contact p {
    font-size: 0.961vw;
}

.contact img {
    background: #131313;
    background-size: 0.534vw;
    padding: 0.534vw;
    box-sizing: border-box;
    border-radius: 50%;
    width: 20%;
    height: 20%;
}

#contacts-flex form {
    display: grid;
    grid-template-columns: 100% 100%;
    grid-template-rows: 50% 160% 35%;
    align-content: center;
    gap: 0.534vw;
}

#contacts-flex textarea {
    resize: none;
    grid-column: 1 / 3;
}

#contacts-flex input, #contacts-flex textarea {
    border-radius: 7px;
    background: transparent;
    border: 1px solid grey;
    color: white;
    padding: 0.534vw;
}

#contacts-flex button {
    grid-row: 3 / 4;
    grid-column: 1 / 3;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    background: #131313;
    color: white;
    border-radius: 7px;
    width: 5.336vw;
}

#contacts-flex button:hover {cursor: pointer;}